<!-- <a href="#callback" class="block__link popup-open">Попап</a>

<div class="popup popup-callback ">
	<div class="popup-container">
		<div class="popup-content">
			<div class="popup__close"></div>
			<div class="popup__title"></div>
			<div class="popup__text"></div>
		</div>
	</div>
</div>

<div class="popup popup-video">
	<div class="popup-container">
		<div class="popup-content">
			<div class="popup__close"></div>
			<div class="popup-video__value"></div>
		</div>
	</div>
</div> -->